* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  --notion-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

/*CSS for App page*/
.notion-collection-column-title-icon {
  display: none;
}

.notion-collection-row{
  border-bottom: none;
}

.notion-gallery-grid{
  border-top: none;
}

.notion-aside-table-of-contents-header{
  display: none;
}

.notion-collection-card{
  border: 1px solid #e0d7c6;
}

.notion-page-cover-wrapper span, .notion-page-cover-wrapper img {
  width: 100% !important;
  height: 30vh !important;
  min-height: 30vh !important;
  max-height: 30vh !important;
}

.notion-page-cover-wrapper {
  width: 100%;
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1368px !important;
}


@media (min-width: 1300px) {
  .notion-full-width {
    position: relative;
    padding: 0;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px !important;
  }

  .notion-title{
    grid-row: 1;
    grid-column: 1;
  }

  .notion-page > .notion-page-icon-hero{
    position: absolute;
    left: 7%;
  }
  .notion-collection-row-property .notion-property {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .notion-collection-row-body {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .notion-collection-column-title {
    margin-top:10px;
  }

  .notion-full-width > .notion-page-icon-hero{
    position: absolute;
    left: 50%;
  }
  .notion-full-width > .notion-title{
    text-align: center;
  }

  .notion-page {
    display: grid;
    max-width: 1200px !important;
    grid-template-columns: 1fr 5fr;
    column-gap: 50px;
    width: 100%;
  }

  .notion-collection-page-properties {
    grid-column: 1;
    grid-row: 2;
    width: 100%;

  }
  .notion-page-content {
    grid-column: 2;
    grid-row: 2;
  }

  .notion-page-content-inner{
    padding-left:50px ;
    padding-right:50px ;
  }


  .notion-collection-row-property {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notion-collection-row-value {
    display: flex;
    align-items: center;
    padding: 0;
    min-height: 23px;
    width: 100%;
  }
}

.notion-collection-row-body > *:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.notion-collection-row-body > *:first-child > .notion-collection-column-title {
  display: none;
}

.notion-collection-row-body > *:first-child > .notion-collection-row-value {

  border: 1px solid #f33736;
  background-color: #f33736;
  color: white;
  margin: Auto;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: .625rem 1.125rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align:center;
  text-decoration: none;
  width: fit-content;
  max-width: 200px;
  transition: all .3s;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
}

.notion-search-button{
  background-color: #F2F2F2!important;
}

.notion-collection-row-property .notion-collection-column-title{
  padding: 0px;
}

.notion-collection-card-size-medium{
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 1px solid #e0d7c6;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  flex-flow: column;

  padding: 20px;
  text-decoration: none;
  display: flex;
}
